<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,2},{288,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,511}}</string>
                <key>sourceSize</key>
                <string>{288,511}</string>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1604},{288,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,511}}</string>
                <key>sourceSize</key>
                <string>{288,511}</string>
            </dict>
            <key>bronze_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,406},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,342},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1894},{46,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,121},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,430},{28,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,179},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2033},{10,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{10,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,63},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,400},{28,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2003},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1894},{46,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>fly_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,396},{78,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,51}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>fly_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,351},{78,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,51}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>fly_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,388},{76,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,51}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>fly_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,343},{78,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,51}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>fly_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,298},{78,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,51}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>fly_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,395},{76,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,51}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>fly_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,156},{78,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,51}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>fly_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1941},{78,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,51}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>fly_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,342},{76,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,51}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>game_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,404},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1894},{198,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,45}}</string>
                <key>sourceSize</key>
                <string>{198,45}</string>
            </dict>
            <key>gold_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,388},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>hd_fly_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1894},{140,91}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,91}}</string>
                <key>sourceSize</key>
                <string>{140,99}</string>
            </dict>
            <key>hd_fly_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1894},{140,91}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,91}}</string>
                <key>sourceSize</key>
                <string>{140,99}</string>
            </dict>
            <key>hd_fly_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,140},{136,91}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{136,91}}</string>
                <key>sourceSize</key>
                <string>{140,99}</string>
            </dict>
            <key>hd_fly_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1894},{140,91}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,91}}</string>
                <key>sourceSize</key>
                <string>{140,99}</string>
            </dict>
            <key>hd_fly_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1942},{140,91}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,91}}</string>
                <key>sourceSize</key>
                <string>{140,99}</string>
            </dict>
            <key>hd_fly_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,2},{136,91}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{136,91}}</string>
                <key>sourceSize</key>
                <string>{140,99}</string>
            </dict>
            <key>hd_fly_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1942},{140,91}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,91}}</string>
                <key>sourceSize</key>
                <string>{140,99}</string>
            </dict>
            <key>hd_fly_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1942},{140,91}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,91}}</string>
                <key>sourceSize</key>
                <string>{140,99}</string>
            </dict>
            <key>hd_fly_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,63},{136,91}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{136,91}}</string>
                <key>sourceSize</key>
                <string>{140,99}</string>
            </dict>
            <key>land_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1604},{336,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,80}}</string>
                <key>sourceSize</key>
                <string>{336,80}</string>
            </dict>
            <key>land_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1604},{336,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,80}}</string>
                <key>sourceSize</key>
                <string>{336,80}</string>
            </dict>
            <key>land_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1604},{336,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,80}}</string>
                <key>sourceSize</key>
                <string>{336,80}</string>
            </dict>
            <key>land_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1604},{336,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,80}}</string>
                <key>sourceSize</key>
                <string>{336,80}</string>
            </dict>
            <key>land_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1604},{336,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,80}}</string>
                <key>sourceSize</key>
                <string>{336,80}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{515,78}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,2},{515,78}}</string>
                <key>sourceSize</key>
                <string>{645,86}</string>
            </dict>
            <key>menu_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,342},{178,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,62}}</string>
                <key>sourceSize</key>
                <string>{178,62}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2021},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>ok_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,156},{185,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,80}}</string>
                <key>sourceSize</key>
                <string>{185,80}</string>
            </dict>
            <key>pause_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,236},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>pipe_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{116,1600}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,1600}}</string>
                <key>sourceSize</key>
                <string>{120,1600}</string>
            </dict>
            <key>pipe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{116,1600}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,1600}}</string>
                <key>sourceSize</key>
                <string>{120,1600}</string>
            </dict>
            <key>pipe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{116,1600}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,1600}}</string>
                <key>sourceSize</key>
                <string>{120,1600}</string>
            </dict>
            <key>pipe_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{116,1600}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,1600}}</string>
                <key>sourceSize</key>
                <string>{120,1600}</string>
            </dict>
            <key>pipe_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{120,1600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,1600}}</string>
                <key>sourceSize</key>
                <string>{120,1600}</string>
            </dict>
            <key>pipe_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,1600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,1600}}</string>
                <key>sourceSize</key>
                <string>{120,1600}</string>
            </dict>
            <key>pipe_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,1600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,1600}}</string>
                <key>sourceSize</key>
                <string>{120,1600}</string>
            </dict>
            <key>pipe_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,1600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,1600}}</string>
                <key>sourceSize</key>
                <string>{120,1600}</string>
            </dict>
            <key>platinum_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,388},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>play_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1941},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>rate_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{174,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,59}}</string>
                <key>sourceSize</key>
                <string>{174,59}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,342},{184,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,44}}</string>
                <key>sourceSize</key>
                <string>{184,44}</string>
            </dict>
            <key>score_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,82},{503,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,258}}</string>
                <key>sourceSize</key>
                <string>{503,258}</string>
            </dict>
            <key>score_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,465},{185,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,80}}</string>
                <key>sourceSize</key>
                <string>{185,80}</string>
            </dict>
            <key>share_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,278},{185,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,80}}</string>
                <key>sourceSize</key>
                <string>{185,80}</string>
            </dict>
            <key>silver_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,449},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2043},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{2,2}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2033},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{6,6}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2033},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>start_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,156},{185,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,80}}</string>
                <key>sourceSize</key>
                <string>{185,80}</string>
            </dict>
            <key>tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1942},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{437,100}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,10},{437,100}}</string>
                <key>sourceSize</key>
                <string>{535,118}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1604},{427,87}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,2},{427,87}}</string>
                <key>sourceSize</key>
                <string>{555,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images_block.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afb55a7bc267a04dd32fcf86d8ca23ef:1/1$</string>
            <key>textureFileName</key>
            <string>images_block.png</string>
        </dict>
    </dict>
</plist>
